@font-face {
  font-family: myregular;
  src: url(josefont.ttf);
}

@font-face {
  font-family: oriyafont;
  src: url(oriyafont.ttc);
}

/* .fallloveBackground {
  background-image: url(../src/assets/images/falllovebg.png);
  background-size: cover;
} */
.sticksLine{
  margin: 50px 0;
}

@media screen and (max-width: 600px){
  .sticksLine{
   margin: 15px 0;
  }
}

@media screen and (max-width: 600px){
  .fallloveBackground{
   margin-top: 20px !important;
  }
}

@media screen and (max-width: 600px){
  .fallloveBackground{
   margin-top: 20px !important;
  }
}

.myMenuImage {
  max-width: -moz-fit-content;
  /* max-width: fit-content;
  height: 309px;
  margin-bottom: -33px;
  display: block;
  max-width: 537px !important;
  height: 403px; */
  max-width: fit-content;
}

@media screen and (max-width: 600px){
  .myMenuImage{
    width: 175px;
    height: 150px;
  }
}

.lovePad {
  padding: 0px 75px 0 115px;
}

@media screen and (max-width: 600px){
  .lovePad{
    padding: 0 50px 50px 50px;
  }
}

@media screen and (max-width: 600px){
  .fallLoveConatinerImg{
    justify-content: center !important;
  }
}

.falllove-heading {
  font-size: 45px;
  font-family: "Montserrat";
  text-align: center;
  background: -webkit-linear-gradient(#ff4f4f, #fe7171);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: 80%;
  margin: auto;
  font-weight: 400;
  letter-spacing:5px;
  line-height: 60px;
}

@media screen and (max-width: 600px){
  .falllove-heading{
    width: 90%;
    font-size: 1.5rem;
    letter-spacing:1px;
    line-height: 40px;
  }
}

.falllove-text {
  font-family: myregular;
  color: white;
  font-size: 16px;
  font-weight: 400;
  margin-left: 56px;
}

.fallloveButton {
  font-family: "Josefin Sans";
  color: #ededed;
  font-size: 16px;
  text-align: center;
  background-image: linear-gradient(#ff4f4f 0%, #fe7171 100%) !important;
  width: 140px;
  height: 44px;
  border-radius: 27px;
  margin-top: 36px;
  outline: 1px solid #ffff;
  margin-top: 12px;
  box-shadow: 1px 2px 20px 0px #ff6261;
}

@media screen and (max-width: 600px){
  .fallloveButton{
    width: 90px;
    height:30px;
  }
}

.fallloveButton:hover {
  color: #fe6868;
  background-image: linear-gradient(#ffffff 0%, #ffffff 100%) !important;
  outline: 1px solid #fe6868;
  box-shadow: none;
}

@media screen and (max-width: 600px){
  .fallloveButton:hover{
    width: 90px;
    height:30px;
    outline: 1px solid #ffff !important;
    box-shadow: 1px 1px 6px 0px #fe6868 !important;
    background-image: linear-gradient(#ff4f4f 0%, #fe7171 100%) !important;
    color: white !important;
      }
}

.fallLoveLine {
  width: 110px;
  height: 2px;
  position: absolute;
  left: 245px;
  margin-top: 125px;
  background: #FE7171;
}

@media screen and (max-width: 600px){
  .fallLoveLine{
    display: none;
  }
}

/* .btn2 {
  box-shadow: inset 0 0 0 0 #ff4f4f;
  transition: ease-out 0.4s;
}
.btn2:hover {
  box-shadow: inset 400px 0 0 0 #ffffff;
  color: #111010;
} */

/* .falllove-heading{
    background-color:#ffff;
    font-size: 13px;
    background-attachment: f;
} */
