.management-heading {
  font-size: 48px;
  font-family: "Montserrat", sans-serif;
  background: -webkit-linear-gradient(#20932c, #a0fd90);
  background-image: linear-gradient(to right, #20932c, #a0fd90);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-weight: 300;
}

.management-text1 {
  font-size: 19px;
  line-height: 32px;
  margin-bottom: 33px;
  font-family: "Montserrat", sans-serif;
}

.management-text2 {
  font-size: 19px;
  line-height: 32px;
  margin-bottom: 33px;
  font-family: "Montserrat", sans-serif;
}

.management-text3 {
  font-size: 19px;
  line-height: 32px;
  margin-bottom: 33px;
  font-family: "Montserrat", sans-serif;
}
.quality-img {
  top: 200px;
  left: 200px;
}

.quality-container {
  height: 900px !important;
  display: flex;
}

.quality-line {
  background-image: linear-gradient(to right, #20932c, #a0fd90);
  width: 115px;
  height: 2px;
  position: absolute;
  left: 12px;
  top: 73px;
}

@media screen and (max-width: 600px) {
  .quality-img-1 {
    max-width: 72%;
  }
  .quality-img {
    top: 128px;
    left: 62px;
    max-width: 72%;
  }
  .qualityOne {
    margin-top: 600px;
  }
  .quality-line {
    display: none;
  }
  .management-text1 {
    text-align: justify;
    font-size: 16px;
    line-height: normal !important;
    margin-bottom: 33px;
    font-family: "Montserrat", sans-serif;
  }

  .management-heading {
    font-size: 45px;
    font-family: "Montserrat", sans-serif;
    background: -webkit-linear-gradient(#20932c, #a0fd90);
    background-image: linear-gradient(to right, #20932c, #a0fd90);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-weight: 300;
  }
}
