@use postcss-preset-env;
@use postcss-nested;
.review-container {
  width: 95%;
  height: 100vh;
}
.review-info {
  width: 45%;
  margin-top: 5rem;
}
.review-info-para {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  width: 80%;
}
.small-box1 {
  border-radius: 20px;
  position: absolute;
  top: 8%;
  left: 51%;
  width: 535px;
  height: 101px;
}
.spices5 {
  position: absolute;
  width: 900px;
  height: 470px;
  top: 40vh;
  right: 1%;
  right: -1%;

  background-image: url("../../../src/assets/Spices5.png");
  opacity: 50%;
  background-position: center;
  background-size: contain;
}
.spices6 {
  position: absolute;
  right: 7%;
  top: 10%;
  width: 672px;
  height: 453px;
  background: url("../../../src/assets/Spices6.jpeg");
  border-radius: 20px;
  background-position: center;
  background-size: cover;
  z-index: 6;
}
.order {
  width: 434px;
  height: auto;
  left: 42%;
}
.order-info {
  font-family: "Original Surfer";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
}
.order-desc {
  font-size: 14px;
  line-height: 24px;
  color: #828282;
  font-weight: 200;
}
.transbg {
  top: 17%;
  opacity: 0.24;
  transform: rotate(-22.54deg);
  width: 955.7px;
  height: 785.82px;
  left: -20%;
}

@media screen and (max-width: 600px) {
  .review-container {
    flex-direction: column;
    width: 100%;
    display: flex;
    height: 1200px;
    justify-content: center;
    align-items: center;
  }
  .review-info {
    width: 90%;
    text-align: center;
    margin-top: 0;
  }
  .small-box1 {
    width: 250px;
    /* display: none; */
    top: 55%;
    left: 17%;
  }
  .spices5 {
    /* display: none; */
    width: 350px;
    background-repeat: no-repeat;
    z-index: -10;
    top: 55%;
    left: 1%;
    opacity: 0.7;
  }
  .spices6 {
    display: none;
  }
  .quotes {
    width: 95%;
    margin: 0px auto;
  }
  .review-info-para {
    width: 95%;
    margin: 0px auto;
    text-align: center;
  }
  .order {
    width: 300px;
    height: 100;
    left: 10%;
    top: 50%;
  }
  .transbg {
    display: none;
  }

  .w-\[85\%\] {
    width: 100% !important;
  }
}

@keyframes spin {
  from {
    transform: translate(-50%, -50%) rotate(0);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
.rotating-border {
  --border-radius: 1rem;
  --border-size: 0.5rem;
  --border-bg: conic-gradient(red, yellow, lime, aqua, blue, magenta, red);
  --padding: 1rem;

  position: relative;
  overflow: hidden;
  font-size: 2rem;
  padding: calc(var(--padding) + var(--border-size));
  border-radius: var(--border-radius);
  display: inline-block;
}
.rotating-border::before {
  content: "";
  display: block;
  background: var(--border-bg);
  width: calc(100% * 1.41421356237);
  padding-bottom: calc(100% * 1.41421356237);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 100%;
  z-index: -2;
  animation: spin 5s linear infinite;
}

.rotating-border--reverse::before {
  animation-direction: reverse;
}

.rotating-border::after {
  content: "";
  position: absolute;
  inset: var(--border-size);
  background: white;
  z-index: -1;
  border-radius: calc(var(--border-radius) - var(--border-size));
}
/* ---------- End .rotating-border ---------- */

/* ---------- Begin customizing .rotating-border ---------- */
.rotating-border--google {
  --border-radius: 23px;
  --border-size: 0.1rem;
  --border-bg: conic-gradient(
    #8d8585 0turn 0.125turn,
    #8d8585 0.125turn 0.25turn,
    #8d8585 0.25turn 0.375turn,
    #ffff 0.375turn 0.5turn,
    #8d8585 0.5turn 0.625turn,
    #8d8585 0.625turn 0.75turn,
    #8d8585 0.75turn 0.875turn,
    #8d8585 0.875turn 1turn
  );

  text-transform: uppercase;
  letter-spacing: 0.1em;
  line-height: 2;
}
.rotating-border--rainbow {
  --border-radius: 1.5rem;
  --border-size: 0.5rem;
  --border-bg: conic-gradient(red, yellow, lime, aqua, blue, magenta, red);
}
.rotating-border--black-white {
  --border-radius: 100%;
  --border-size: 0.6rem;
  --border-bg: conic-gradient(
    #fff 0turn 0.05turn,
    #333 0.05turn 0.1turn,
    #fff 0.1turn 0.15turn,
    #333 0.15turn 0.2turn,
    #fff 0.2turn 0.25turn,
    #333 0.25turn 0.3turn,
    #fff 0.3turn 0.35turn,
    #333 0.35turn 0.4turn,
    #fff 0.4turn 0.45turn,
    #333 0.45turn 0.5turn,
    #fff 0.5turn 0.55turn,
    #333 0.55turn 0.6turn,
    #fff 0.6turn 0.65turn,
    #333 0.65turn 0.7turn,
    #fff 0.7turn 0.75turn,
    #333 0.75turn 0.8turn,
    #fff 0.8turn 0.85turn,
    #333 0.85turn 0.9turn,
    #fff 0.9turn 0.95turn,
    #333 0.95turn 1turn
  );
}
.rotating-border--black-yellow {
  --border-radius: 100%;
  --border-bg: conic-gradient(
    #f0c400 0.1666turn,
    #444 0.1666turn 0.3333turn,
    #f0c400 0.3333turn 0.5turn,
    #444 0.5turn 0.6666turn,
    #f0c400 0.6666turn 0.8333turn,
    #444 0.8333turn
  );
  width: 2.5rem;
  height: 2.5rem;
  text-align: center;
}
/* ---------- End customizing .rotating-border ---------- */
