.ingreIcon {
  width: 80px;
}

.ingredient-heading {
  font-size: 32px;
  line-height: 40px;
  letter-spacing: 2px;
}

.ingredient-text {
  font-family: "Josefin Sans";
  font-weight: 300;
  font-size: 17px;
}

.ingredient-heading {
  font-size: 32px;
  font-family: "Montserrat", sans-serif;
  background: -webkit-linear-gradient(#20932c, #a0fd90);
  background-image: linear-gradient(to right, #20932c, #a0fd90);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-weight: 300;
}

.delicious-heading {
  font-size: 60px;
  font-family: "Montserrat", sans-serif;
  background: -webkit-linear-gradient(#20932c, #a0fd90);
  background-image: linear-gradient(to right, #20932c, #a0fd90);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-weight: 300;
  text-align: center;
}

.delicious-text {
  font-size: 27px;
  text-align: center;
  font-family: "Montserrat";
  font-weight: 400;
  text-align: center;
}

.myImage-main {
  margin: 0px -60px;
  max-width: 132%;
}
