.aboutbanner {
  /* height: 715px; */
  background-image: url("/src/assets/images/aboutbanner.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 552px !important;
  background-attachment: fixed;
}

.aboutbanner-text {
  font-size: 100px;
  color: #ffffff;
  text-align: center;
  line-height: 56px;
  font-family: "Josefin Sans", sans-serif;
}
