.mix-spices{
  width: 100%;
  height: 140vh;
}
.mix-spices-img img{
  width: 856px;
  height: 738px;
}
.para-container{
  width: 60%;
}
.handpicked {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../../../src/assets/dry.jpeg");
    width: 100%;
    height: 500px;
    background-attachment:fixed;
}
.hand-para {
  font-family: "Original Surfer";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 56px;
  font-feature-settings: "kern" off;
  color: #f4f1ec;
}
.hand-desc {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}
.hand-btn{
  width: 196px;
  height: 60px;
}
@media screen and (max-width: 600px){
  .mix-spices{
    height: 80vh;
    width: 100%;
  }
  .mix-spices-img img{
    width: 350px;
    height: 300px;
    margin-bottom: 60px;
  }
  .handpicked{
    width: 100%;
    height: 400px;
  }
  .para-container{
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
  .hand-para{
    width: 95%;
    font-size: 25px;
    line-height: 1.2;
    text-align: center;
    margin: 0px auto;
  }
  .hand-btn{
    width: 100px;
    height: 40px;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .btn-container{
    width: 84%;
    display: flex;
    justify-content: center;
  }
}
