.story-heading {
  font-size: 50px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  background: -webkit-linear-gradient(#20932c, #a0fd90);
  background-image: linear-gradient(to right, #20932c, #a0fd90);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-weight: 300;
}

.story-text {
  font-size: 19px;
  line-height: 42px;
  margin-bottom: 44px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.how-line {
  background-image: linear-gradient(to right, #20932c, #a0fd90);
  width: 108px;
  height: 2px;
  position: absolute;
  left: 514px;
  top: 73px;
}