.small-box {
  border-radius: 30px;
  left: 70px;
}

@font-face {
  font-family: myregular;
  src: url(josefont.ttf);
}

.box1 {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../../src//assets/spices1.jpeg");
  top: 20px;
  border-radius: 30px;
  transition: all 0.5s;
}

.box1:hover {
  transform: scale(1.1);
}
.box2:hover {
  transform: scale(1.1);
}
.box2 {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../../src//assets/spices2.jpeg");
  top: 18%;
  left: 20%;
  border-radius: 30px;
  transition: all 0.5s;
  background-size: 103% 104%;
  background-repeat: no-repeat;
}

.small-box2 {
  top: 80%;
  border-radius: 30px;
  left: 24%;
}

.button-5 {
  width: 200px;
  border-radius: 5px;
  background-color: #f4f200;
  background-image: #f4f200;
  background-image: -moz-linear-gradient(top, #fff 0%, #f4f200 100%);
  background-image: -webkit-linear-gradient(top, #fff 0%, #f4f200 100%);
  background-image: linear-gradient(to bottom, #fff 0%, #f4f200 100%);
  background-size: 300px;
  background-repeat: no-repeat;
  background-position: 0%;
  -webkit-transition: background 300ms ease-in-out;
  transition: background 300ms ease-in-out;
}
.button-5:hover {
  background-position: -200%;
  transition: background 300ms ease-in-out;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 266px;
  height: 77px;
  border-radius: 6px;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #fff;
  padding-top: auto;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}

.heading {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 45px;
  line-height: 56px;
  letter-spacing: 3px;
  /* text-shadow: 0px 4px 4px rgba(255, 13, 13, 0.25); */
}

.para {
  font-family: "Josefin Sans";
  font-style: normal;
  /* font-weight: 400; */
  font-size: 23px;
  line-height: 32px;
  font-weight: 300;
}
.hand {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}
.spices3 {
  right: -15%;
  top: -23%;
}
@media screen and (max-width: 600px) {
  .spices-container {
    width: 100%;
    flex-direction: column;
    height: 1000px;
  }
  .box-container {
    width: 95%;
    margin: 0px auto;
  }
  .small-box {
    width: 150px;
    height: 30px;
    left: 55px;
    top: 7px;
  }
  .box1 {
    width: 200px;
    height: 300px;
    left: 13%;
  }
  .box2 {
    /* display: none; */
    width: 200px;
    height: 300px;
    margin-bottom: 50px;
    top: 10%;
    left: 30%;
  }
  .small-box2 {
    width: 150px;
    height: 30px;
    top: 38.3%;
    left: 32%;
  }
  .spices-info {
    margin-top: 0;
  }
  .para {
    width: 90%;
    margin: 0px auto;
    font-size: 18px;
    text-align: center;
  }
  .btn-container {
    width: 95%;
    margin: 0px auto;
  }
  .btn {
    width: 150px;
    height: 50px;
    font-size: 13px;
    line-height: 13px;
  }
}
