.mobile-menu {
  left: -200%;
  transition: 0.5s;
}

.mobile-menu.active {
  left: 0;
}

.mobile-menu ul li ul {
  display: none;
}

.mobile-menu ul li:hover ul {
  display: block;
}

#navigation li {
  display: flex;
  align-items: center;
}
#navigation li a {
  font-size: 18px;
  font-family: "Montserrat" !important;
}
.menu {
  display: flex;
  height: 85px;
  align-items: center;
  justify-content: right;
}

.btn-1 {
  /* height: 400px; */
  /* background-color: #ffff; */
  padding: 18px 10px;
  /* border-bottom-left-radius: 19px;
    border-bottom-right-radius: 19px;
    box-shadow: 1px 2px 2px 0px rgb(100 40 21 / 35%);
    border: 1px solid #FF4F4F; */
  margin-top: -1px;
  font-size: 18px;
}

.active-1 {
  background-color: #ffff;
  padding: 18px 10px;
  border-bottom-left-radius: 19px;
  border-bottom-right-radius: 19px;
  box-shadow: 1px 2px 2px 0px rgb(100 40 21 / 35%);
  margin-top: -1px;
  color: #ff4f4f;
  font-size: 18px;
  font-family: myregular;
}

.active-2 {
  background-color: #ffff;
}

.sub-text {
  /* font-size: 16px; */
  font-family: "Josefin Sans" !important;
  font-size: 18px !important;
  line-height: 29px !important;
}
.text-alignment {
  display: flex;
  flex-direction: column;
  height: 632px;
  justify-content: center;
  width: 100%;
}

.slider-Image {
  background-repeat: no-repeat;
  background-size: contain;
}

#search {
  width: 182px;
  height: 41px;
  text-indent: 41px;
  border-radius: 30px;
}
.search-icon {
  display: block;
  /* height: 11px; */
  /* width: 9px; */
  position: absolute;
  left: 16%;
  top: 18%;
  font-weight: 400;
}

#search::placeholder {
  color: #ff4f4f;
  color: white;
  font-family: myregular;
  font-size: 18px;
  margin-right: 22px;
}
#cart {
  position: absolute;
  margin-left: 104px;
  background-color: transparent;
  height: 30px;
  margin-top: 5px;
  border-left: 1px solid white;
}

.search-cart {
  font-size: 12px;
  margin-top: -8px;
  margin-left: 1px;
}

.search-cart span {
  color: #ff4f4f;
  font-size: 12px;
}

.heading-text {
  font-family: "oriyafont";
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-style: normal;
  font-weight: 600;
  font-size: 81px;
  line-height: 81px;
  letter-spacing: 3px;
}
