.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

@font-face {
  font-family: myregular;
  src: url(josefont.ttf);
}

@font-face {
  font-family: oriyafont;
  src: url(oriyafont.ttc);
}

#navigation li {
  display: flex;
  align-items: center;
  margin-right: 20px;
}
#navigation li a {
  font-size: 18px;
  font-family: myregular;
}
.menu {
  display: flex;
  height: 85px;
  align-items: center;
  justify-content: right;
}
.SecondPageHeading {
  font-family: "Oriya MN";
  color: #ffffff;
  font-weight: 600;
  font-size: 66px;
  line-height: 78px;
}

@media screen and (max-width: 600px) {
  .SecondPageHeading {
    font-size: 30px;
    line-height: 45px;
    margin-top: 20px;
  }
}

.SecondPageHeading-text {
  font-family: "Josefin Sans";
  color: #ededed;
  font-size: 31px;
  text-align: center;
  font-weight: 400;
  line-height: 32px;
  width: 80%;
  display: flex;
  margin: auto;
}

@media screen and (max-width: 600px) {
  .SecondPageHeading-text {
    width: 100%;
    font-size: 20px;
  }
}

.SecondPageButton {
  font-family: 'Josefin Sans';
  color: #ededed;
  font-size: 16px;
  text-align: center;
  background-image: linear-gradient(#ff4f4f 0%, #fe7171 100%) !important;
  width: 165px;
  height: 56px;
  /* padding: 22PX; */
  border-radius: 27px;
  margin-top: 36px;
  border: 1px solid #ffff;
  font-weight: 700;
}

.StarIcon i {
  font-size: 17px;
  color: #fe7171;
  padding-right: 4px;
}

.btn-1 {
  /* height: 400px; */
  /* background-color: #ffff; */
  padding: 18px 10px;
  /* border-bottom-left-radius: 19px;
    border-bottom-right-radius: 19px;
    box-shadow: 1px 2px 2px 0px rgb(100 40 21 / 35%);
    border: 1px solid #FF4F4F; */
  margin-top: -1px;
  font-size: 18px;
}

.active-11 {
  background-color: #ffff;
  padding: 18px 10px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  box-shadow: 1px 2px 2px 0px rgb(100 40 21 / 35%);
  /* outline: 1px solid #ff4f4f; */
  margin-top: -1px;
  color: #6f6f6f;
  font-weight: 800;
  font-size: 18px;
  font-family: myregular;
}

.active-2 {
  background-color: #ffff;
}

.sub-text {
  font-size: 16px;
  color: #797979;
  font-family: myregular;
}

.text-alignment {
  display: flex;
  flex-direction: column;
  height: 632px;
  justify-content: center;
  width: 100%;
}

.hero-Image {
  background-repeat: no-repeat;
  background-size: cover;
  height: 1095px;
  width: 100%;
  background-position: center center;
}

@media screen and (max-width: 600px) {
  .hero-Image {
    background-size: unset;
    height: 740px;
  }
}

.image-box {
  position: relative;
}

.image-box__background,
.image-box__overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.image-box__overlay {
  background: rgba(0, 0, 0, 0.5);

  z-index: 2;
}

.box-alignment {
  position: relative;
  top: 72px;
  left: 10px;
}

.chilli-img {
  position: absolute;
  left: 412px;
  z-index: 200;
}

.termeric-4-img {
  position: absolute;
  left: 770px;
  top: 192px;
  z-index: 6;
}
.termeric-3-img {
  position: absolute;
  left: 628px;
  top: 140px;
  z-index: 99;
}
.termeric-1-img {
  position: absolute;
  top: 196px;
  left: 278px;
  z-index: 2;
}

.termeric-2-img {
  position: absolute;
  top: 143px;
  z-index: 99;
  left: 311px;
}

.pouchAlignment {
  /* width: 710px; */
  display: block;
  position: absolute;
  /* left: -11px; */
  top: -16px;
}

@media screen and (max-width: 600px) {
  .pouchAlignment {
    max-width: 125% !important;
    left: -40px;
    top: -45px;
  }
}

.btn2 {
  box-shadow: inset 0 0 0 0 #ff4f4f;
  transition: ease-out 0.4s;
}
.btn2:hover {
  box-shadow: inset 400px 0 0 0 #ffffff;
  color: #111010;
}

@media screen and (max-width: 600px) {
  .btn2:hover {
    box-shadow: inset 0 0 0 0 #ff4f4f !important;
    background-image: linear-gradient(#ff4f4f 0%, #fe7171 100%) !important;
    color: white !important;
  }
}

.navMobile {
  display: none;
}

@media screen and (max-width: 600px) {
  .navMobile {
    display: flex;
    position: absolute;
    width: 100vw;
  }
}

@media screen and (max-width: 600px) {
  .detailContainer {
    display: none !important;
  }
}
