.mycontain {
  width: 50% !important;
}

.mycontainFlex {
  display: flex;
}

.digital-heading {
  font-size: 50px;
  font-family: "Montserrat", sans-serif;
  background: -webkit-linear-gradient(#20932c, #a0fd90);
  background-image: linear-gradient(to right, #20932c, #a0fd90);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-weight: 300;
  line-height: 60px;
  text-align: center;
}

.digital-line {
  left: 245px;
  width: 159px;
  height: 2px;
  top: 99%;
  left: 38%;
  font-size: 24px;
  line-height: 32px;
  position: absolute;
  font-weight: 500;
  background: -webkit-linear-gradient(#20932c, #a0fd90);
  background-image: linear-gradient(to right, #20932c, #a0fd90);
}

.myArrow {
  /* width: 100%; */
  position: absolute;
  left: 0%;
  top: 50%;
}

.myArrow-1 {
  /* width: 100%; */
  position: absolute;
  right: 0%;
  top: 50%;
}

.slider-nav::after {
  content: "";
  -webkit-mask: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 16 16'><path fill-rule='evenodd' d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'></path></svg>");
  mask: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 16 16'><path fill-rule='evenodd' d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'></path></svg>");
  -webkit-mask-size: cover;
  mask-size: cover;
  background-color: var(--swiffy-slider-nav-dark);
  background-origin: content-box;
  width: 3rem;
  height: 3rem;
}

.mag {
  margin-top: 10rem;
}

@media screen and (max-width: 600px) {
  .digital-line {
    display: none;
  }
  .mag {
    margin-top: 82rem !important;
  }

  .digital-heading {
    font-size: 45px;
    font-family: "Montserrat", sans-serif;
    background: -webkit-linear-gradient(#20932c, #a0fd90);
    background-image: linear-gradient(to right, #20932c, #a0fd90);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-weight: 300;
    line-height: 60px;
    text-align: center;
  }
}
