
.video-card-1 {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    );
  border-radius: 39px;
  width: 29vw;
height: 75vh;
}
.chef-img {
  width: 90%;
  height: 90%;
  border-radius: 999px;
}
.chef-wrapper {
  border-radius: 999px;

  background: rgb(255, 122, 81);
  background: linear-gradient(
    180deg,
    rgba(255, 122, 81, 1) 25%,
    rgba(255, 219, 92, 1) 75%
  );
}
.bookmark {
  width: 57px;
  height: 57px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(7px);
}
.chef-name {
  font-family: "Original Surfer";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
}
.recipe-time {
  font-family: "Original Surfer";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: rgba(255, 255, 255, 0.8);
}
.play-btn {
  width: 57px;
  height: 57px;
  /* background: rgba(255, 255, 255, 0.1); */
  backdrop-filter: blur(7px);
  border-radius: 50%;
}
.video-info {
}
.comments,
.likes {
  font-family: "Original Surfer";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: capitalize;
  color: #ffffff;
  margin-top: 5px;
}

@media screen and (max-width: 600px) {
  .recipes{
    width: 100%;
    
  }
  .heading{
    font-size: 35px;
    width: 95%;
    margin: 0px auto;
    text-align: center;
    line-height: 1.2;
  }
  .video-cards{
    flex-direction: column;
    width: 100vw;
    margin: auto;

  }
  .video-card-1{
    width: 80vw;
    height: 70vh;
    border-color: black;
    margin-bottom: 20px;
  }
  .chef-wrapper{

  }
  .chef-img{
    width: 50px;
    height: 50px;
    
  }
  .chef-container{
    width: 55px;
    height: 55px;
  }
  .chef-name{
    margin-left: 10px;
    font-size: 15px;
  }
  .recipe-time{
    margin-left: 10px;
    font-size: 12px;
  }
  .bookmark{
    width: 50px;
    height: 50px;
  }
  .bookmark img{
    width: 20px;
  }
}
