@font-face {
  font-family: myregular;
  src: url(josefont.ttf);
}

@font-face {
  font-family: oriyafont;
  src: url(oriyafont.ttc);
}

.SuccessButton {
  font-family: "myregular";
  color: #ededfb;
  font-size: 16px;
  text-align: center;
  background-image: linear-gradient(#ff4f4f 0%, #fe7171 100%) !important;
  width: 140px;
  height: 44px;
  padding: 22px;
  border-radius: 27px;
  margin-top: 36px;
  border: 1px solid #ffff;
  display: flex !important;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 3px 1px #ff5959;
}

.SuccessButton:hover {
  font-family: "myregular";
  color: black;
  font-size: 16px;
  text-align: center;
  background-image: linear-gradient(#ffffff 0%, #ffffff 100%) !important;
  width: 140px;
  height: 44px;
  padding: 22px;
  border-radius: 27px;
  margin-top: 36px;
  border: 1px solid #ff6769;
  display: flex !important;
  justify-content: center;
  align-items: center;
  /* box-shadow: 0px 0px 3px 1px #ff5959; */
  box-shadow: none;
}
.success-heading {
  font-size: 44px;
  font-family: "oriyafont";
  background: -webkit-linear-gradient(#ff4f4f, #fe7171);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.success-text {
  font-family: myregular;
  color: #75797f;
  font-size: 16px;
}

/* @keyframes tonext {
  75% {
    left: 0;
  }
  95% {
    left: 100%;
  }
  98% {
    left: 100%;
  }
  99% {
    left: 0;
  }
}

@keyframes tostart {
  75% {
    left: 0;
  }
  95% {
    left: -300%;
  }
  98% {
    left: -300%;
  }
  99% {
    left: 0;
  }
}

@keyframes snap {
  96% {
    scroll-snap-align: center;
  }
  97% {
    scroll-snap-align: none;
  }
  99% {
    scroll-snap-align: none;
  }
  100% {
    scroll-snap-align: center;
  }
} */

* {
  box-sizing: border-box;
  scrollbar-color: transparent transparent; /* thumb and track color */
  scrollbar-width: 0px;
}

*::-webkit-scrollbar {
  width: 0;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: transparent;
  border: none;
}

* {
  -ms-overflow-style: none;
}

ol,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.carousel {
  position: relative;
  padding-top: 50%;
  /* filter: drop-shadow(0 0 10px #0003); */
  perspective: 100px;
}

.carousel__viewport {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  overflow-y: hidden;
  counter-reset: item;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}

.carousel__slide {
  position: relative;
  flex: 0 0 100%;
  width: 100%;
  background-color: #ffffff;
  counter-increment: item;
}

.carousel__slide:before {
  content: counter(item);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -40%, 70px);
  color: #fff;
  font-size: 2em;
}

.carousel__snapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  scroll-snap-align: center;
}

@media (hover: hover) {
  .carousel__snapper {
    animation-name: tonext, snap;
    animation-timing-function: ease;
    animation-duration: 4s;
    animation-iteration-count: infinite;
  }

  .carousel__slide:last-child .carousel__snapper {
    animation-name: tostart, snap;
  }
}

@media (prefers-reduced-motion: reduce) {
  .carousel__snapper {
    animation-name: none;
  }
}

.carousel:hover .carousel__snapper,
.carousel:focus-within .carousel__snapper {
  animation-name: none;
}

.carousel__navigation {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 121px;
  text-align: center;
}

.carousel__navigation-list,
.carousel__navigation-item {
  display: inline-block;
}

.carousel__navigation-button {
  /* display: inline-block; */
  width: 50px;
  height: 50px;
  background-color: #ff6566;
  background-clip: content-box;
  border: 1px solid transparent;
  border-radius: 50%;
  font-size: 0;
  transition: transform 0.1s;
  display: flex;
  justify-content: center;
  align-items: center;
}

li .carousel__navigation-button:hover {
  width: 50px;
  height: 50px;
  background-color: transparent;
  background-clip: content-box;
  border: 1px solid #fe7171;
  border-radius: 50%;
  font-size: 0;
  transition: transform 0.1s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel__navigation-item i {
  color: #ffffff !important;
  font-size: 16px;
  padding: 17px;
}

.carousel__navigation-item i:hover {
  color: #000000 !important;
  font-size: 16px;
  padding: 17px;
}
.carousel::before,
.carousel::after,
.carousel__prev,
.carousel__next {
  position: absolute;
  top: 0;
  margin-top: 37.5%;
  width: 4rem;
  height: 4rem;
  transform: translateY(-50%);
  border-radius: 50%;
  font-size: 0;
  outline: 0;
}

.carousel::before,
.carousel__prev {
  left: -1rem;
}

.carousel::after,
.carousel__next {
  right: -1rem;
}

.carousel::before,
.carousel::after {
  content: "";
  z-index: 1;
  background-color: #333;
  background-size: 1.5rem 1.5rem;
  background-repeat: no-repeat;
  background-position: center center;
  color: #fff;
  font-size: 2.5rem;
  line-height: 4rem;
  text-align: center;
  pointer-events: none;
  display: none;
}

.carousel::before {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='0,50 80,100 80,0' fill='%23fff'/%3E%3C/svg%3E");
}

.carousel::after {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='100,50 20,100 20,0' fill='%23fff'/%3E%3C/svg%3E");
}

.success-alignment {
  position: absolute;
  left: 320px;
  top: 245px;
}

.success-img {
  width: 300px;
  height: 300px;
  animation: animName 6s linear infinite;
}

.success-img-1 {
  max-width: -moz-fit-content;
  max-width: fit-content;
  height: 460px;
  margin-left: -165px;
}

@keyframes animName {
  0% {
    transform: rotate(0deg);
    /* left: 121px;
    top: 230px; */
  }
  100% {
    transform: rotate(360deg);
    /* left: 121px !important;
    top: 230px !important; */
  }
}

.pizza-img {
  position: absolute;
  right: 0px;
  bottom: -133px;
}
