@font-face {
  font-family: myregular;
  src: url(josefont.ttf);
}

@font-face {
  font-family: oriyafont;
  src: url(oriyafont.ttc);
}

.myImpor {
  z-index: 2;
  position: absolute;
  top: 118px;
  left: 0px;
  transform: translateY(0px);
}

.background {
  z-index: 100;
  transition: 450ms transform linear;
  transform: translateY(-3px);
  padding: 0px 0px 78px 11px;
  cursor: pointer;
  top: -20px;
  position: relative;
  width: 81%;
}

@media screen and (max-width: 600px) {
  .background {
    width: 100%;
    transition: unset;
    transform: unset;
  }
}

.background:hover {
  transform: translateY(-20px);
}

@media screen and (max-width: 600px) {
  .background:hover {
    transform: unset;
  }
}

@media screen and (max-width: 600px) {
  .containerSpicy {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: unset !important;
    justify-content: space-between;
  }
}

@media screen and (max-width: 600px) {
  .imgSpicy {
    width: 150px;
    flex-basis: unset !important;
  }
}

.spicyMainContainer {
  margin-top: 5rem;
}

@media screen and (max-width: 600px) {
  .spicyMainContainer {
    margin-top: 1rem;
  }
}
