/* reset css */
* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
button {
  cursor: pointer;
}
img {
  vertical-align: bottom;
}
/* reset css end */

body {
  overflow-x: clip;
}

.container {
  width: 100%;
  margin: auto;
  padding: 0px 0px;
  box-sizing: border-box;
  height: auto;
}

.row {
  box-sizing: border-box;
  margin: 0px 0px;
  width: 100%;
}

.section-margin1 {
  margin-top: 50px;
}

.section-margin2 {
  margin-bottom: 50px;
}

.clearfix {
  clear: both;
  display: block;
}

.col-1 {
  width: 8.33%;
  float: left;
  padding: 0px 15px;
  min-height: 1px;
}
.col-2 {
  width: 16.66%;
  float: left;
  padding: 0px 15px;
  min-height: 1px;
}
.col-3 {
  width: 25%;
  float: left;
  padding: 0px 15px;
  min-height: 1px;
}
.col-4 {
  width: 33.33%;
  float: left;
  padding: 0px 15px;
  min-height: 1px;
}
.col-5 {
  width: 41.66%;
  float: left;
  padding: 0px 15px;
  min-height: 1px;
}
.col-6 {
  width: 50%;
  float: left;
  padding: 0px 15px;
  min-height: 1px;
}
.col-7 {
  width: 58.33%;
  float: left;
  padding: 0px 15px;
  min-height: 1px;
}
.col-8 {
  width: 66.66%;
  float: left;
  padding: 0px 15px;
  min-height: 1px;
}
.col-9 {
  width: 75%;
  float: left;
  padding: 0px 15px;
  min-height: 1px;
}
.col-10 {
  width: 83.33%;
  float: left;
  padding: 0px 15px;
  min-height: 1px;
}
.col-11 {
  width: 91.66%;
  float: left;
  padding: 0px 15px;
  min-height: 1px;
}
.col-12 {
  width: 100%;
  float: left;
  padding: 0px 15px;
  min-height: 1px;
}

@font-face {
  font-family: myfont;
  src: url(originalsurfer.ttf);
}

@font-face {
  font-family: mymon;
  src: url(./assets/images/mon.ttf);
}

@font-face {
  font-family: myregular;
  src: url(josefont.ttf);
}

@font-face {
  font-family: mylight;
  src: url(Nunito-Light.ttf);
}

@font-face {
  font-family: helvetica;
  src: url(Helvetica.ttf);
}

@font-face {
  font-family: manrope;
  src: url(manrope.ttf);
}
@font-face {
  font-family: open;
  src: url(open.ttf);
}

@font-face {
  font-family: oriyafont;
  src: url(oriyamont.ttc);
}

.cusines-image {
  position: absolute;
  top: -40%;
  height: 600px;
}

.taste {
  color: #ff4f4f;
  font-family: "Montserrat";
  font-size: 55px;
}

.manu-text {
  font-family: "Josefin Sans";
  color: #1e1e1e;
  text-align: center;
  line-height: 33px;
  font-size: 22px;
  font-weight: 300;
}

.taste-text {
  font-family: "Josefin Sans";
  color: #1e1e1e;
  font-size: 18px;
  line-height: 33px;
  font-weight: 300;
}
.brand {
  width: 100% !important;
}

.produce-heading {
  font-family: "Montserrat";
  font-size: 52px;
  /* line-height: 126px; */
}

.foodyHeading {
  font-family: "Montserrat";
}

.foodyPad {
  padding: 0px;
}

.foodyImage {
  width: 100%;
}

.foodyFlex {
  display: flex;
  line-height: 0px;
}

.foodyFlex i {
  align-self: center;
  color: #ffffff;
  padding-right: 10px;
}

.foodyBackground {
  background-image: url(./assets/images/background-1.png);
  height: 608px;
}

.foodyBackground p {
  color: #ffffff;
  font-family: "Josefin Sans";
  font-size: 17px;
  font-weight: 300;
}

.foodyItem {
  align-self: center;
}

.explore-foody {
  height: 56px;
  width: 156px;
  border-radius: 30px;
  font-size: 15px;
  color: #ff4f4f;
  font-family: myregular;
  box-shadow: 0px 1px 3px 0px #ffffff;
  border: 1px solid white;
}

.bussiness-heading {
  font-family: myfont;
}

.bussiness-head {
  font-family: "Montserrat";
  color: #ff4f4f;
  font-size: 46px;
}

.bussiness-text {
  font-family: open;
  color: #9497a1;
  font-size: 14px;
}

.bussiness-Flex {
  display: flex;
}

.bussiness-Item {
  align-self: center;
}

/* .bussiness-image {
  margin-top: -17px;
  margin-left: -80px;
}

.bussiness-background {
  background-image: url(./assets/images/bussiness-rect.png);
  background-repeat: no-repeat;
  height: 566px;
  background-size: cover;
} */

.common-explore {
  display: flex;
  width: 140px;
  background-color: #ff6768;
  border-radius: 23.5px;
  text-align: center;
  height: 45px;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-size: 16px;
  font-family: mylight;
  box-shadow: 2px 2px 14px 1px #bfb9b9;
  margin: 28px 0px;
}

/* .solution-background {
  background-image: url(./assets/images/solution-rect.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.solution-image {
  margin-top: -120px;
  margin-left: 3px;
} */

.solution-Item {
  align-self: center;
}

.sectionBackground {
  background-image: url(./assets/images/masala.png);
}

.gra-box {
  color: #0d0d0d;
  /* bottom: 0px; */
  /* margin-top: 215px; */
  text-align: center;
  font-family: "myregular";
  font-size: 22px;
  margin-bottom: -170px;
  text-align: center;
}

.gra-img {
  margin-bottom: 60px;
}
.gra-box-1 {
  bottom: 0;
  background-image: linear-gradient(#3c0c6a 0%, #a462e3 100%);
  border-radius: 16px;
  width: 90%;
  font-family: myfont;
  box-shadow: 0px 0px 9px 0px #7b40b2;
  z-index: -4;
  height: 202px !important;
}

.gra-box-2 {
  bottom: 0;
  background-image: linear-gradient(#370000 0%, #961010 100%);
  border-radius: 16px;
  width: 90%;
  font-family: myfont;
  box-shadow: 0px 0px 9px 0px #8c0e0f;
  z-index: -4;
  height: 202px !important;
}

.gra-box-4 {
  bottom: 0;
  background-image: linear-gradient(#734809 0%, #d78306 100%);
  border-radius: 16px;
  width: 90%;
  font-family: myfont;
  box-shadow: 0px 0px 9px 0px #c47806;
  z-index: -4;
  height: 202px !important;
}

.gra-box-8 {
  bottom: 0;
  background-image: linear-gradient(#937920 0%, #fdde90 100%);
  border-radius: 16px;
  width: 90%;
  font-family: myfont;
  box-shadow: 0px 0px 9px 0px #e0c272;
  z-index: -4;
  height: 202px !important;
}

.gra-box-6 {
  bottom: 0;
  background-image: linear-gradient(#afa801 0%, #d7cf06 100%);
  border-radius: 16px;
  width: 90%;
  font-family: myfont;
  box-shadow: 0px 0px 9px 0px #d3cc04;
  z-index: -4;
  height: 202px !important;
}

.experience-heading {
  color: #ff4f4f;
  font-family: "Montserrat";
  font-size: 52px;
}

.experience-bg {
  background-image: linear-gradient(#ff4f4f 0%, #fe7171 100%);
  border-radius: 15px;
  width: 374px;
  height: 94px;
  box-shadow: 0px 4px 3px rgb(255 13 13 / 25%);
  border: 1px solid white;
}

.experience span {
  font-family: myregular;
  font-size: 48px;
  font-weight: 700;
  color: white;
}

.experience-point-1 {
  font-size: 14px;
  font-weight: 400;
  font-family: myregular;
  color: white;
}

.experience-point-2 {
  font-size: 24px;
  font-weight: 700;
  font-family: myregular;
  color: white;
}

.experienceFood {
  position: absolute;
  right: 0%;
  /* bottom: 0%; */
  height: 645px;
  top: 50%;
}

.masala-button {
  width: 165px;
  height: 56px;
  border-radius: 30px;
  background-image: linear-gradient(#ff4f4f 0%, #fe7171 100%);
  display: block;
  color: #ffffff;
  font-family: myregular;
  box-shadow: 0px 0px 9px 0px #fe7171;
}

.masala-background {
  position: absolute;
  top: 0%;
  z-index: 8;
  opacity: 0.1;
  height: 875px;
  width: 100%;
}

.spciesImage {
  position: absolute;
  right: 0%;
  height: 725px;
  /* width: 686px; */
  opacity: 0.1;
}

img.vert-move {
  -webkit-animation: mover 1s infinite alternate;
  animation: mover 1.7s infinite alternate;
}
img.vert-move {
  -webkit-animation: mover 1s infinite alternate;
  animation: mover 1.7s infinite alternate;
}
@-webkit-keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-15px);
  }
}
@keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-15px);
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 100% !important;
  }
}
