@media only screen and (max-width: 600px) {
  body {
    overflow-x: hidden;
  }

  /* .basis-3\/12 {
    flex-basis: 100% !important;
  } */

  .masalaMobile-flex {
    position: relative;
    width: 100%;
  }

  .masalaMobile-width {
    width: 100%;
  }

  .px-28 {
    padding-left: 2rem !important;
    padding-right: 2rem !important;
  }

  .experience-flex {
    width: 100%;
  }

  .experienceFood {
    position: absolute;
    right: 0%;
    height: 645px;
    top: 50%;
    opacity: 0.1;
  }

  .experience-bg {
    background-image: linear-gradient(#ff4f4f 0%, #fe7171 100%);
    border-radius: 15px;
    width: 326px;
    height: 94px;
    box-shadow: 0px 4px 3px rgb(255 13 13 / 25%);
    border: 1px solid white;
  }

  .pl-14 {
    padding-left: 0rem !important;
  }

  .bussiness-Flex {
    display: block;
  }

  .solution-background {
    /* background-image: url(./assets/images/solution-rect.png);
    background-repeat: no-repeat;
    background-size: contain; */
    height: 400px;
    /* position: relative;
    overflow-x: hidden; */
  }

  .solution-image {
    margin-top: 0px;
    margin-left: 0px;
    position: absolute;
  }

  .bussiness-head-mobile {
    font-family: "Montserrat";
    color: #ff4f4f;
    /* text-shadow: 0px 4px 3px rgba(255, 13, 13, 0.25); */
    font-size: 30px;
  }

  .experience-heading {
    color: #ff4f4f;
    font-family: "Montserrat";
    font-size: 30px;
  }

  .bussiness-head {
    font-family: "Montserrat";
    color: #ff4f4f;
    font-size: 30px;
  }

  .bussiness-head-mobile-technology {
    font-family: "Montserrat";
    color: #ff4f4f;
    /* text-shadow: 0px 4px 3px rgba(255, 13, 13, 0.25); */
    font-size: 28px;
  }
  .masalaTab {
    display: block !important;
  }

  .manu-text {
    font-family: "Josefin Sans";
    color: #1e1e1e;
    text-align: justify;
    line-height: 33px;
    font-size: 18px;
    font-weight: 300;
  }
  .manuAb {
    position: absolute;
    top: 647px !important;
    max-width: 137% !important;
  }

  .blogTab {
    margin-top: 86px !important;
  }

  .produce-heading {
    font-family: "Montserrat";
    font-size: 30px;
    /* line-height: 126px; */
  }

  .taste {
    color: #ff4f4f;
    font-family: "Montserrat";
    font-size: 28px;
  }
  .spices-pad {
    padding-right: 1.25rem;
    padding-left: 1.25rem;
  }

  /* .bussiness-background {
    background-image: url(./assets/images/bussiness-rect.png);
    background-repeat: no-repeat;
    height: 669px;
    background-size: contain;
  } */
  /* .bussiness-image {
    margin-top: -46px;
    margin-left: -27px;
    height: 540px;
  } */

  .mt-40 {
    margin-top: 5rem !important;
  }

  .foodyBackground {
    background-image: url(./assets/images/background-1.png);
    height: 1000px;
    background-size: cover;
  }

  .pl-141 {
    padding-left: 1.5rem;
  }

  .p-14 {
    padding: 1.5rem !important;
  }

  .pr-5 {
    padding-right: 0rem !important;
  }

  .cusines-image {
    position: absolute;
    top: 14%;
    height: 600px;
    opacity: 0.1;
  }

  .cooking-dis {
    display: none;
  }

  .basis-10\/12 {
    flex-basis: 83.333333%;
  }

  .basis-10\/12 {
    flex-basis: 100% !important;
  }

  .mt-401 {
    margin-top: 6rem !important;
  }

  .taste-cooking {
    color: #ff4f4f;
    font-family: myfont;
    font-size: 33px;
  }

  #desktopNav {
    display: none;
  }

  #navigation {
    display: none;
  }

  /* #mobileNav{
            display: block;
        } */

  #desktopCart {
    display: none;
  }

  .nav-flex {
    display: flex;
    margin: auto;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 30px;
  }

  #mobilenavigation {
    width: 100%;
    padding-left: 15px;
    background-color: #ff4f4f;
    padding: 22px;
    border-bottom: 2px solid #ffffff;
    box-shadow: 1px 2px 3px 3px #ff4f4f;
    box-shadow: 3px 0px 1px 0px #ff4f4f;
  }
  #mobilenavigation li {
    margin-bottom: 25px;
  }

  #mobilenavigation li a {
    font-family: myregular;
    font: size 18px;
    color: white;
  }

  #mobileNav i {
    cursor: pointer;
  }

  .slider-Image {
    background-image: url("../assets/images/background.png");
    background-repeat: no-repeat;
    background-size: contain !important;
    order: 1;
  }

  .myPos {
    order: 2;
  }

  .text-alignment {
    display: flex;
    flex-direction: column;
    height: 358px !important;
    justify-content: center;
    width: 100%;
    margin-top: 254px;
  }

  .header-display {
    display: none !important;
  }

  .basis-8\/12 {
    flex-basis: 100% !important;
  }

  .image-top {
    margin-top: 15px !important;
  }

  .icon-design {
    font-size: 21px;
    padding: 11px;
    background-color: #d3d3d3ba;
    color: #ff5151;
    border-radius: 10px;
  }

  .nav-shadow {
    box-shadow: 0px -1px 3px 3px #dfdada;
  }

  #mobile-pouch {
    display: block;
  }

  #desktop-pouch {
    display: none;
  }
  .mt-24 {
    margin-top: 0rem !important;
  }

  /* .explore{ */
  /* display: flex; */
  /* border-radius: 30.5px; */
  /* text-align: center; */
  /* align-items: center; */
  /* justify-content: center; */
  /* color: #ffffff; */
  /* font-family: 'myregular'; */
  /* width: 145px; */
  /* height: 56px; */
  /* border: 1px solid white; */
  /* box-shadow: 0px 0px 9px 0px #fe7171; */
  /* background-image: linear-gradient(#FF4F4F 0%, #FE7171 100%); */
  /* font-size: 14px; */
  /* transition:ease-out 0.4s; */
  /* } */

  .slideRight {
    top: -20px;
    width: 196px;
    position: absolute;
  }

  .mobileBox-1 {
    width: 173px;
    height: 299px;
  }

  .img-box-1 {
    margin-left: 42px;
  }

  .Mobilepouch-box-1 {
    bottom: 0;
    background-image: linear-gradient(#dc2116 0%, #a20607 100%);
    border-radius: 16px;
    /* width: 90%; */
    font-family: myfont;
    box-shadow: 0px 0px 9px 0px #9a1208;
    z-index: 2;
    width: 100px;
    left: 27px;
    height: 92px !important;
    top: 38px;
    /* margin-bottom: 33px; */
  }

  .Mobilepouch-box-1 {
    bottom: 0;
    background-image: linear-gradient(#dc2116 0%, #a20607 100%);
    border-radius: 16px;
    /* width: 90%; */
    font-family: myfont;
    box-shadow: 0px 0px 9px 0px #9a1208;
    z-index: 2;
    width: 100px;
    left: 27px;
    height: 92px !important;
    top: 35px;
    /* margin-bottom: 33px; */
    position: absolute;
    z-index: 2;
  }

  .img-box-1 {
    margin-left: 37px;
    position: absolute;
    z-index: 3;
    margin-top: -11px;
  }

  .img-box-2 {
    margin-left: -34px;
    position: absolute;
    z-index: 3;
    margin-top: -13px;
  }

  .Mobilepouch-box-2 {
    bottom: 0;
    background-image: linear-gradient(#937920 0%, #fdde90 100%);
    border-radius: 16px;
    width: 100px;
    font-family: myfont;
    box-shadow: 0px 0px 9px 0px #fee583;
    z-index: 2;
    height: 92px !important;
    top: 36px;
    left: 147px;
    position: absolute;
  }

  .img-box-3 {
    margin-left: -99px;
    position: absolute;
    z-index: 3;
    margin-top: -13px;
  }

  .Mobilepouch-box-3 {
    bottom: 0;
    background-image: linear-gradient(#5e8409 0%, #447000 100%);
    border-radius: 16px;
    width: 100px;
    font-family: myfont;
    box-shadow: 0px 0px 9px 0px #4b7501;
    z-index: 2;
    height: 92px;
    top: 33px;
    left: 272px;
    position: absolute;
  }

  .mobileDisplay {
    display: none !important;
  }

  .explore {
    display: flex;
    border-radius: 30.5px;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-family: "'Montserrat'";
    width: 165px;
    height: 56px;
    border: 1px solid white;
    box-shadow: 0px 0px 9px 0px #fe7171;
    background-image: linear-gradient(#ff4f4f 0%, #fe7171 100%);
    font-size: 16px;
    padding: 22px;
  }
  .btn1 {
    box-shadow: inset 0 0 0 0 #ff4f4f;
    transition: ease-out 0.4s;
  }
  .btn1:hover {
    box-shadow: inset 400px 0 0 0 #ff4f4f;
  }

  .explore-foody {
    height: 56px;
    width: 156px;
    border-radius: 30px;
    font-size: 15px;
    color: #ff4f4f;
    font-family: myregular;
    box-shadow: 0px 1px 3px 0px #ffffff;
    border: 1px solid white;
  }

  .btn2 {
    box-shadow: inset 0 0 0 0 #ff4f4f;
    transition: ease-out 0.4s;
  }

  .btn2:hover {
    box-shadow: inset 400px 0 0 0 #ff4f4f;
    color: #ffffff;
  }

  .desktop-display {
    display: none;
  }
  .mobile-display {
    display: block;
  }
  .w-1\/2 {
    width: 100% !important;
  }

  .productionLine {
    display: none;
  }

  .planetseraLine {
    display: none;
  }

  .technologyLine {
    display: none;
  }

  .desireLine {
    display: none;
  }

  .ordinaryLine {
    display: none;
  }

  .masalaLine {
    display: none;
  }

  .lastestLine {
    display: none;
  }

  .spciesLine {
    display: none;
  }

  .whyLine {
    display: none;
  }
}

@media only screen and (min-width: 600px) {
}

@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 992px) {
}

@media only screen and (min-width: 1200px) {
  .container {
    max-width: 100% !important;
  }

  .masalaMobile-width {
    width: 29%;
  }

  .masalaMobile-flex {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
    position: relative;
  }

  .px-28 {
    padding-left: 7rem;
    padding-right: 7rem;
  }

  .experience-flex {
    display: flex;
  }

  .experienceFood {
    position: absolute;
    right: 0%;
    height: 645px;
    top: 50%;
    opacity: 1;
  }

  .experience-bg {
    background-image: linear-gradient(#ff4f4f 0%, #fe7171 100%);
    border-radius: 15px;
    width: 374px;
    height: 94px;
    box-shadow: 0px 4px 3px rgb(255 13 13 / 25%);
    border: 1px solid white;
  }

  .pl-14 {
    padding-left: 3.5rem;
  }

  .business-Flex {
    display: flex;
  }

  /* .solution-background {
    background-image: url(./assets/images/solution-rect.png);
    background-repeat: no-repeat;
    background-size: contain;
  } */

  .solution-image {
    margin-top: -170px;
    margin-left: 0px;
  }

  .bussiness-head-mobile {
    font-family: "Montserrat";
    color: #ff4f4f;
    /* text-shadow: 0px 4px 3px rgba(255, 13, 13, 0.25); */
    font-size: 45px;
    letter-spacing: 3px;
  }

  .bussiness-head-mobile-technology {
    font-family: "Montserrat";
    color: #ff4f4f;
    font-size: 45px;
    letter-spacing: 3px;
  }

  .spices-pad {
    padding-right: 1.25rem;
  }

  /* .bussiness-background {
    background-image: url(./assets/images/bussiness-rect.png);
    background-repeat: no-repeat;
    height: 669px;
    background-size: cover;
  }

  .bussiness-image {
    margin-top: -19px;
    margin-left: -80px;
    height: 725px;
  } */

  .mt-40 {
    margin-top: 10rem;
  }

  .pl-141 {
    padding-left: 3.5rem;
  }

  .p-14 {
    padding: 3.5rem;
  }

  .pr-5 {
    padding-right: 1.25rem;
  }

  .cusines-image {
    position: absolute;
    /* top: -40%; */
    height: 600px;
  }

  .cooking-dis {
    display: block;
  }

  .mt-401 {
    margin-top: 22rem !important;
  }

  .taste-cooking {
    color: #ff4f4f;
    font-family: myfont;
    font-size: 51px;
  }

  .nav-flex {
    display: flex;
    margin: auto;
    flex-direction: row;
    justify-content: space-between;
  }
  #mobileNav {
    display: none;
  }

  #navDropdown {
    display: none;
  }

  .heading-text {
    font-family: "oriyafont";
    background: linear-gradient(107.77deg, #ff4f4f 0%, #fe7171 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-style: normal;
    font-weight: 600;
    font-size: 81px;
    line-height: 81px;
    letter-spacing: 3px;
  }

  .slider-Image {
    background-image: url("../assets/images/background.png");
    background-repeat: no-repeat;
    background-size: contain;
    order: 2;
  }
  .myPos {
    order: 1;
  }

  .text-alignment {
    display: flex;
    flex-direction: column;
    height: 532px !important;
    justify-content: center;
    width: 100%;
  }

  .header-display {
    display: block;
  }

  .basis-8\/12 {
    flex-basis: 66.666667%;
  }

  .image-top {
    margin-top: 0px;
  }

  #mobile-pouch {
    display: none;
  }

  #desktop-pouch {
    display: block;
  }

  .mt-24 {
    margin-top: 6rem;
  }

  .explore {
    display: flex;
    border-radius: 30.5px;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-family: "Montserrat";
    width: 165px;
    height: 56px;
    border: 1px solid white;
    box-shadow: 0px 0px 9px 0px #fe7171;
    background-image: linear-gradient(#ff4f4f 0%, #fe7171 100%);
    font-size: 16px;
  }

  .btn1 {
    box-shadow: inset 0 0 0 0 #ff4f4f;
    transition: ease-out 0.4s;
  }

  .btn1:hover {
    box-shadow: inset 400px 0 0 0 #ff4f4f;
  }
  .slideRight {
    position: absolute;
    top: -70px;
    width: 196px;
  }

  .pouch-box-1 {
    bottom: 0;
    background-image: linear-gradient(#dc2116 0%, #a20607 100%);
    border-radius: 16px;
    /* width: 90%; */
    font-family: myfont;
    box-shadow: 0px 0px 9px 0px #9a1208;
    z-index: -4;
    width: 127px;
    left: 13px;
    height: 92px !important;
    top: 57px;
  }
  .pouch-box-2 {
    bottom: 0;
    background-image: linear-gradient(#937920 0%, #fdde90 100%);
    border-radius: 16px;
    width: 127px;
    font-family: myfont;
    box-shadow: 0px 0px 9px 0px #fee583;
    z-index: -4;
    height: 92px !important;
    top: 57px;
    left: 172px;
  }

  .pouch-box-3 {
    bottom: 0;
    background-image: linear-gradient(#5e8409 0%, #447000 100%);
    border-radius: 16px;
    width: 127px;
    font-family: myfont;
    box-shadow: 0px 0px 9px 0px #4b7501;
    z-index: -4;
    height: 92px !important;
    height: 92px;
    top: 56px;
    left: 327px;
  }

  .explore-foody {
    height: 56px;
    width: 156px;
    border-radius: 30px;
    font-size: 15px;
    color: #ff4f4f;
    font-family: myregular;
    box-shadow: 0px 1px 3px 0px #ffffff;
    border: 1px solid white;
  }

  .btn2 {
    box-shadow: inset 0 0 0 0 #ff4f4f;
    transition: ease-out 0.4s;
  }

  .btn2:hover {
    box-shadow: inset 400px 0 0 0 #ff4f4f;
    color: #ffffff;
  }

  .zoom {
    padding: 0px;
    /* background-color: green; */
    transition: transform 0.2s;
    /* width: 200px; */
    /* height: 200px; */
    margin: 0 auto;
  }

  .zoom:hover {
    -ms-transform: scale(0.9); /* IE 9 */
    -webkit-transform: scale(0.9); /* Safari 3-8 */
    transform: scale(0.9);
  }

  .btn-masala {
    box-shadow: inset 0 0 0 0 #ffffff;
    transition: ease-out 0.4s;
    background-color: transparent;
    outline: 1px solid #ff6769;
  }

  .btn-masala:hover {
    box-shadow: inset 400px 0 0 0 #ffffff;
    color: black;
    /* background-color: black; */
    outline: 1px solid black;
  }

  .header-img {
    max-width: fit-content;
    margin-top: 63px;
  }

  .desktop-display {
    display: block;
  }
  .mobile-display {
    display: none;
  }
}

.manuAb {
  position: absolute;
  top: 500px;
}

.redChilli {
  position: absolute;
  top: -162px;
}

.productionLine {
  background-image: linear-gradient(#ff4f4f 0%, #fe7171 100%);
  width: 227px;
  height: 2px;
  position: absolute;
  left: 131px;
  top: 70px;
}

.planetseraLine {
  background-image: linear-gradient(#ff4f4f 0%, #fe7171 100%);
  width: 129px;
  height: 2px;
  position: absolute;
  left: 131px;
  top: 70px;
}

.technologyLine {
  background-image: linear-gradient(#ff4f4f 0%, #fe7171 100%);
  width: 120px;
  height: 2px;
  position: absolute;
  left: 66px;
  top: 210px;
}

.desireLine {
  background-image: linear-gradient(#ff4f4f 0%, #fe7171 100%);
  width: 168px;
  height: 2px;
  position: absolute;
  left: 7px;
  bottom: 0;
}

.ordinaryLine {
  background-image: linear-gradient(#ff4f4f 0%, #fe7171 100%);
  width: 176px;
  height: 2px;
  position: absolute;
  /* left: 0px; */
  top: 205px;
}

.masalaLine {
  background-image: linear-gradient(#ff4f4f 0%, #fe7171 100%);
  width: 107px;
  height: 2px;
  position: absolute;
  left: 192px;
  bottom: 7px;
}

.lastestLine {
  background-image: linear-gradient(#ff4f4f 0%, #fe7171 100%);
  width: 122px;
  height: 2px;
  position: absolute;
  left: 332px;
  /* top: 190px; */
}

.spciesLine {
  background-image: linear-gradient(#ff4f4f 0%, #fe7171 100%);
  width: 122px;
  height: 2px;
  position: absolute;
  left: 495px;
  top: 61px;
}

.whyLine {
  background-image: linear-gradient(#ff4f4f 0%, #fe7171 100%);
  width: 169px;
  height: 2px;
  position: absolute;
  left: 7px;
  top: 61px;
}

.masalaTab {
  display: flex;
  flex-wrap: wrap;
}

.blogTab {
  margin-top: 0px;
}
