.react-3d-carousel .slider-container {
  position: absolute;
  left: 50%;
  top: 0%;
  width: 90%;
  margin: -0px auto 0px -45%;
}

.react-3d-carousel {
  position: relative;
  height: 500px !important;
  margin: 100px 0px !important;
}

.react-3d-carousel
  .slider-container
  .slider-content
  .slider-single
  .slider-single-content
  img {
  max-width: 32% !important;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  -webkit-touch-callout: none;
}

.react-3d-carousel .slider-container .slider-content {
  position: relative;
  left: 50%;
  top: 0%;
  width: 100% !important;
  height: 80%;
  transform: translateX(-50%);
}

.react-3d-carousel
  .slider-container
  .slider-content
  .slider-single
  .slider-single-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  box-shadow: none !important;
  transition: 500ms cubic-bezier(0.17, 0.67, 0.55, 1.43);
  transform: scale(0);
  opacity: 1 !important;
}

.react-3d-carousel .slider-container .slider-left {
  position: absolute !important;
  /* display: none !important; */
  z-index: 3;
  right: 55%;
  margin-right: 5px;
  padding: 20px 15px;
  height: 100% !important;
  cursor: pointer;
  /* width: 100%; */
  /* display: flex; */
}
.react-3d-carousel .slider-container .slider-left div {
  position: absolute;
  top: 119% !important;
  left: 45% !important;
  margin-top: -20px;
  color: #ffffff;
  transform: translateY(-50%) !important;
  padding: 10px 10px;
  background-color: #ff6667;
  border-radius: 50px;
  height: 50px !important;
  width: 50px !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  border: none !important;
}

.react-3d-carousel .slider-container .slider-right {
  display: none;
  position: absolute;
  z-index: 3;
  left: 101%;
  padding: 20px 15px;
  height: 101%;
  cursor: pointer;
  margin-left: -2px;
}

.react-3d-carousel .slider-container .slider-right div {
  position: absolute;
  top: 118% !important;
  left: -617px !important;
  margin-top: -20px !important;
  color: #ffffff;
  /* transform: translateX(1%); */
  padding: 10px 10px;
  background-color: #ff6667 !important;
  border-radius: 50px;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none !important;
}

.react-3d-carousel .slider-container .slider-left {
  position: absolute;
  display: none;
  z-index: 3;
  right: 56% !important;
  margin-right: 5px;
  padding: 20px 15px;
  height: 100%;
  cursor: pointer;
}

.react-3d-carousel
  .slider-container
  .slider-content
  .slider-single.active
  .slider-single-content {
  opacity: 1 !important;
  transform: translateX(0%) scale(1) !important;
}

.react-3d-carousel
  .slider-container
  .slider-content
  .slider-single.proactive
  .slider-single-content {
  opacity: 1 !important;
  transform: translateX(25%) scale(0.8);
}

.react-3d-carousel
  .slider-container
  .slider-content
  .slider-single.preactive
  .slider-single-content {
  opacity: 1 !important;
  transform: translateX(-25%) scale(0.8);
}

.react-3d-carousel
  .slider-container
  .slider-content
  .slider-single.preactivede
  .slider-single-content {
  transform: translateX(-50%) scale(0.8) !important;
}

.react-3d-carousel
  .slider-container
  .slider-content
  .slider-single.proactivede
  .slider-single-content {
  transform: translateX(50%) scale(0.8) !important;
}
